*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{list-style: none;}
.contents{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
/*链接导航*/
#navLink{
    height: 100px;
    position:relative;
    background:white;
}
.logo{
    text-align: center;
    float: left;
    margin-top: 22px;
    padding-top: 10px;
    margin-left: 150px;
}
.navLink_center{
    float: left;
    margin-left: 180px;
}
.navLink_center>li{
    float: left;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
}
.navLink_center a{
    text-decoration: none;
    color: #382f30;
}
.navLink_center>li>ul{
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index:20;
    border-top:1px solid transparent;
    transition:all 1s ease;
    overflow: hidden;
}
.navLink_center>li:hover>ul{
    height:380px;
    border-top:1px solid #ddd;
}
.navLink_center>li>ul>li>div{
    width:300px;
    height:234px;
    background-color:transparent;
    float:left;
    margin:0 30px;
}
.navLink_center>li>a{
    text-decoration: none;
    font-size: 20px;
}
.search {
    float: right;
    margin-top:30px;
    position: relative;
}
.search>img{
    margin-left: -20px;
}
input{
    width:400px;
    height:40px;
}
/*子叶导航*/
/*顶部导航栏*/
#nav_tops{
    background:papayawhip;
    height:50px;
    margin-top:2px;

}
.nav_top_lefts{
    position: relative;
    left:0;
    top:15px;
}
.nav_top_lefts>li{
    float: left;
    padding: 0 30px;
}
.nav_top_lefst>.clear_pdleft{padding-left:100px;}
.nav_top_lefts>li>a{
    color: red;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.nav_top_lefts>li>a:hover{
    color:black;
}
#nav_top_rights{
    position: absolute;
    right: 0;
    top:0;
}
#nav_top_rights>li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 7px;
}
.shopping_cars>div{
    color: white;
    margin-left:15px;
    margin-top: -45px;
    font-size: 14px;
    position: absolute;
}
.shopping_cars>div>a{
    color: white;
    text-decoration: none;
    padding-top: -10px;
    position: relative;
}
.ex{
    border-radius:4px;
    position: relative;
    margin-top: 12px;
    padding-right: 10px;
}
.ex2{
    border-radius:4px;
    position: relative;
    margin-top: 12px;
    padding-right:100px;
}
/*--ATS-L导航--*/
.ATS-L{
    background: darkred;
    width: 100%;
    height: 60px;
}
.ATS-L>li>a{
    margin-top: 20px;
}
.nav_top_left2s{
    position: relative;
    left:0;
    top: 20px;
}
.nav_top_left2s>li{
    float: left;
    padding: 0 30px;
}
.nav_top_left2s>.clear_pdleft2{
    padding-left:100px;
}
.ATS-Ls{
    color:white;
    font-size: 28px;
    margin-top:-10px;
    margin-left: 200px;
}
.nav_top_left2s>li>a{
    color:floralwhite;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}
.nav_top_left2s>li>a:hover{
    display: inline-block;
    height:40px;
    background: white;
    color: black;
}
.peizhi{
    height:40px;
    background:red;
    border-radius: 50px;
}
/*图一*/
.configBanner{
    margin-left: 18%;
    margin-top: 2px;
}
.configBanner>img{
    width: 80rem;
    border-radius:4px;
}
/*面包屑导航*/
.breadcrumb-item2 + .breadcrumb-item2::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "|";
}
.breadcrumb2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color:transparent;
    border-radius: 0.25rem;
}
.container>ul>li>a{
    text-decoration: none;
    color: darkred;
    margin-left:10px;
}
.nav{
    padding-left: 400px;
}
.container>ul>li>a:hover{
    color: black;
}
.container>ul>li{
    margin-top:20px;
}
/*表单*/
table{
    width:1200px;
    border-bottom:1px solid #ddd;
    border-left:1px solid black;
    border-right:1px solid black;
    color:#666;font-size:12px;
    margin-left:20%;
}
table th a{
    color:#41a3d2;
    text-decoration:none;
    font-size: 14px;
}
table th{
    border-bottom:1px solid #666;
    padding:5px 0;
}
/*表头*/
.one{
    width:280px;
    text-align:center;
}
.one1{
    width:300px;
    text-align:center;
    border-left:1px solid black;
}
.one2{
    width:300px;
    text-align:center;
    border-left:1px solid black;
}
.one3{
    width:260px;
    text-align:center;
    border-left:1px solid black;
}
.one4{
    width:300px;
    text-align:center;
    border-left:1px solid black;
}
.one5{
    width:300px;
    text-align:center;
    border-left:1px solid black;
}
table th{
    border-bottom:1px solid black;
    text-align:center;
    padding:20px 0;
}
/*头部的样式*/
#top{
    background:#ddd;
    width:1200px;
    height:50px;
    margin-left: 20%;

}
#top>a{
    width:200px;height:30px;
    float:left;
    color:#005aa0;
    font-size:12px;
    text-decoration:none;
    text-align:center;
    line-height:50px;
}
#top a.active:hover{
    height:52px;
    background:#fff;
    border-bottom:2px solid #f00;
    margin-top:-4px;
}
/*表体*/
.two{
    border-left:1px solid black;
}
/*表中的字体*/
table>tr>td>p{
    font-size: 14px;
    font-weight: 600;

}
/*表低文字*/
.txt{
    margin-left: 60%;
    margin-top: 25px;
    margin-bottom: 25px;

}
/*尾*/
.val{
    border-bottom: 2px solid dimgray;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.end>ul{
    float: left;
}
.end>ul>li>a{
    text-decoration: none;
    color:#545b62;
}
.end1{
    margin-left:200px;
}
.end2{
    margin-left:350px;
}
.end1>li{
    margin-top:20px;
}
.end2>li{
    margin-top:20px;
}
hr{  width: 100%;}
/*面包屑导航*/
.han{
    margin-left:300px;
    font-size: 20px;
    font-weight: 600;
    margin-top:20px;
}
.breadcrumb-item2 + .breadcrumb-item2::before{
    content: "|";
}
.breadcrumb4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color:transparent;
    border-radius: 0.25rem;
    margin-left:245px;
}
.breadcrumb4>li>a{
    list-style: none;
    text-decoration: none;
    color:#bd2130;
    font-size: 14px;
    font-weight: 600;
    margin-left:20px;
}
.breadcrumb-item2{
    margin-left:20px;
}
/*底部备案*/
.box{
    float:right;
    margin-right:300px;
    margin-top:-90px;
}
.breadcrumb-item>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.breadcrumb-item{
    font-size: 18px;
    font-weight: 600;
}

.hg{
    font-size: 20px;
    font-weight: 600;
}
.hg1{
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
}
.hg2{
    padding-left: 85px;
    width: 18rem;

}
.breadcrumbl{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
    background-color: transparent;
    margin-top: 10px;
}
/*左侧图*/
/*右侧客户服务*/
#s1{
    position:fixed;
    top:73%;
    right:2px;
}
#s1>a>img{
    width:2rem;
    border-radius:5px;
}
.border_one{
    display: none;
}
#top1{
    display: none;
}